.container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-main);
    min-height: 90vh;
}

.post {
    margin-bottom: 1rem;
    transition: all ease-in .2s;
}

h1 {
    display: flex;
    align-self: center;
}

