.container {
    display: flex;
    flex-direction: column;
}

.post {
    margin-bottom: 1rem;
    transition: all ease-in .2s;
}

.post:hover {
    background-color: var(--background-color-main);
}

