.container {
    display: grid;
    min-height: 99vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 0 1rem 1rem 1rem;
    gap: 1rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.lastThreeContainer {
    display: flex;
    background-color: var(--background-color-main);
    box-shadow: var(--shadow);
    padding: 1rem;
    gap: 1rem;
}

.vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.horisontal {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: var(--background-color-main);
    box-shadow: var(--shadow);
    padding: 1rem;
}

.lastPost {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: var(--background-color-main);
    box-shadow: var(--shadow);
    padding: .5rem;
}

.lastThreePosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    gap: 1rem;
}

.postImageHolder {
    display: flex;
    align-items: center;
    width: 50%;
}

.lastPostImage {
    display: flex;
    width: 100%;
    box-shadow: var(--shadow);
}

.lastThreePostImage {
    display: flex;
    width: 100%;
    box-shadow: var(--shadow);
}

.content {
    display: -webkit-box;
    justify-content: left;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
}

.userInfo {
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: left;
    margin-top: .5rem;
    font-size: calc(var(--main-font) - .5rem);
    font-family: italic;
}

.userName {
    display: flex;
    align-items: center;
    margin-right: .3rem;
    color: var(--ten-percent-color);
}

.img {
    margin-left: .3rem;
    width: var(--main-font);
    height: auto;
    border-radius: 2rem;
    transition: all ease-in .2s;
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .lastPost {
        display: flex;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    .lastThreePosts {
        display: flex;
        flex-direction: column;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
  }