.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--background-color-main);
    min-height: 90vh;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:  0  0 .5rem 0;
 }