.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    min-height: 90vh;
    padding: 0 1rem 1rem 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-main);
    box-shadow: var(--shadow);
    padding: 1rem;
}

.group {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    width: clamp(200px, 25rem, 80vw); 
}

input, textarea {
    color: var(--font-color);
}

input::placeholder, textarea::placeholder {
    padding-left: .5rem;
    padding-right: .5rem;
}

label {

}