.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.direction {
    display: flex;
}

.group {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-right: .5rem;
}

.form {
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.loginText {
    display: flex;
}

.loginSymbol {
    display: none;
    width: 2rem;
}

@media screen and (max-width: 600px) {
    .loginText {
        display: none;
    }
    
    .loginSymbol {
        display: flex;
    }
    .direction {
        flex-direction: column;
    }
}