.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userInfo {
    display: flex;
    align-items: center;
    justify-content: right;
}

.userName {
    display: flex;
    align-items: center;
    margin: .3rem;
    font-weight: 800;
}

.userImg {
    margin-left: .3rem;
    width: var(--main-font);
    height: auto;
    border-radius: 2rem;
}

.createPost {
    margin: 0 .5rem 0 0;
    font-size: calc(var(--main-font) - .5rem);
}