.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userInfo {
    display: flex;
    align-items: center;
    justify-content: right;
}

.userName {
    display: flex;
    margin: .5rem;
    font-weight: 800;
}

.userImg {
    margin-left: .5rem;
    width: var(--main-font);
    height: auto;
    border-radius: 2rem;
}