.container {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.form {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-shadow: var(--shadow);
    padding: .5rem;
    background-color: var(--background-color-block);
}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    text-align: left;
}

textarea {
    display: flex;
    flex: 1;
    margin-bottom: .5rem;
    resize: vertical;
}