.container {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    box-shadow: var(--shadow);
    padding: 0 1rem .5rem 1rem;
}

.title {
    display: flex;
    align-self: flex-start;
    margin-left: 0;
}

.content {
    display: -webkit-box;
    justify-content: left;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
}

.content.expanded {
    -webkit-line-clamp: unset;
}

.content::first-letter {
    font-weight: 900;
    text-transform: capitalize;
}

.readMore {
    margin-top: .5rem;
    align-self: flex-start;
}

.userInfo {
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: left;
    font-size: calc(var(--main-font) - .5rem);

}

.userName {
    display: flex;
    align-items: center;
    margin-right: .3rem;
    color: var(--ten-percent-color);
}

.userImg {
    margin-left: .3rem;
    width: var(--main-font);
    height: auto;
    border-radius: 2rem;
    transition: all ease-in .2s;
}

.userImg:hover {
    transform: scale(1.2);
}

.options {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.editPostForm {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color-main);
    /* z-index: 99; */
    border-radius: .5rem;
}

.addComment {
    display: flex;
    margin: .5rem;
    align-items: center;
    align-self: center;
}
