.container {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: .5rem;
}

.comment {
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem .5rem .5rem;
    border-radius: .5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
    background-color: var(--background-color-main);
}

.date {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: calc(var(--main-font) - .5rem);
}

.name {
    display: flex;
    align-items: center;
    color: var(--ten-percent-color);
}

.img {
    width: var(--main-font);
    height: auto;
    border-radius: 2rem;
    transition: all ease-in .2s;
}

.text {
    padding-left: 1rem;
}

.text, .author {
    display: flex;
    font-size: calc(var(--main-font) - .4rem);
}