.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--background-color-block);
    box-shadow: var(--shadow);
}

.form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid;
}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    text-align: left;
    width: clamp(200px, 25rem, 80vw); 
    padding: .5rem;
}

.header {
    display: flex;
    align-self: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}

.post {
    resize: vertical;
}

h1, h2 {
    margin: .5rem;
}

input, textarea {
    color: var(--font-color);
}

.images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: min(50vw, 25rem);
    gap: .2rem;
    margin-top: .2rem;
}

.postImg {
    width: 10vmin;
    min-height: auto;
    
}
.postImgHolder {
    display: flex;
}
.postImgHolder:focus {
    border: 2px solid var(--ten-percent-color);
    transform: scale(1.1);
}

.uploadButton {
    margin-top: .5rem;
}

.send {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}