.container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:var(--shadow);
    padding: .5rem;
}

.register {
    margin: 0 .5rem 0 0;
    font-size: calc(var(--main-font) - .5rem);
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

em {
    margin-right: .3rem;
}

.error {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #f39489cb;
    border-radius: .3rem;
    padding: 1rem;
    background-color: #fbd8d4f5;
    color: #3b3c40;
    font-size: calc(var(--main-font) - 7px);
    z-index: 2;
    text-align: center;
}

.demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(.5);
}
.switch {
    position: relative;
    display: inline-block;
    width: 3.7rem;
    height: 2.15rem;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--ten-percent-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 1rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }