.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-main);
    min-height: 90vh;
}

.group {
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.title, .author {
    display: flex;
    max-width: 50vw;
}

.post {
    display: flex;
    min-height: 10vh;
    width:  min(50vw, 25rem);
    resize: vertical;
}

.send {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}