.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userInfo {
    display: flex;
    align-items: center;
    justify-content: right;
}
  
.userImg {
    margin-right: .5rem;
    margin-left: .5rem;
    width: 2rem;
    height: 2rem;
}