:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --main-font: clamp(16px, calc(16px + (28 - 16) * ((100vw - 360px) / 1560)), 28px);
  --font-color: rgba(255, 255, 255, 0.87);
  --ten-percent-color: #535bf2;
  --background-color-main: #242424;
  --background-color-block: rgba(153, 134, 134, 0.801);
  --shadow: 0px 5px 10px 0px rgba(231, 225, 225, 0.5);
  --gradient: linear-gradient(90deg, rgba(36, 36, 44, 0.651) 0%, rgba(237, 237, 240, 0.329) 35%, rgba(36, 37, 37, 0.397) 100%);

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: var(--ten-percent-color);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color-main);
  font-size: var(--main-font);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem .8rem;
  font-size: calc(var(--main-font) - .3rem);
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--ten-percent-color);
  background-color: var(--font-color);
}
button:focus,
button:focus-visible {
  background-color: var(--font-color);
  outline: 1px solid;
}

p {
  margin: 0;
  text-align: center;
}

label {
  font-size: calc(var(--main-font) - .3rem);
  align-self: flex-start;
}

input:focus, textarea:focus {
  border: 1px solid var(--ten-percent-color);
  outline: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--main-font) - 7px);
  text-align: center;
  padding: .5rem;
  z-index: 0;
  background-color: var(--background-color-main);
  box-shadow: var(--shadow);
}

.footer p {
  display: flex;
  align-items: center;
}

.footer a {
  color: var(--font-color);
  margin: .2rem;
}

.github-logo {
  height: 1rem;
  filter: invert();
  transition: all .3s;
}
.github-logo:hover {
  transform: rotate(360deg);
}

.userBarHidden {
  visibility: hidden;
}

.userBarActive {
  visibility: visible;
}

.linksHidden {
  margin-top: .5rem;
}

.linksActive {
  margin-top: 5rem;
}

@media screen and (max-width: 600px) {
  .linksActive {
    margin-top: 7rem;
  }
}
