:root {
  font-family: main, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --main-font: clamp(16px, calc(16px + (28 - 16) * ((100vw - 360px) / 1560)), 28px);
  --font-color: rgba(58, 50, 50, 0.747);
  --ten-percent-color: #535bf2;
  --background-color-main: #fffefe77;
  --background-color-block: rgba(255, 255, 255, 0.89);
  --shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --shadow-inner: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  --userbar-gradient: linear-gradient(to right, #b6fbff, #83a4d4);
  --background-gradient: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); 

}

@font-face {
  font-family: header;
  src: url(../fonts/Lobster-Regular.ttf);
}

@font-face {
  font-family: main;
  src: url(../fonts/OldStandardTT-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: var(--ten-percent-color);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 99vh;
  font-size: var(--main-font);
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--font-color);
  background-image: var(--background-gradient);
  /* background-image: url('/img/radiant-gradient.svg');*/
  background-position: center;
  background-size: 100vw; 
}

h1 {
  font-family: header;
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
  margin: .5rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem .8rem;
  font-size: calc(var(--main-font) - .3rem);
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all ease-in-out 0.25s;
  box-shadow: var(--shadow-inner);
}
button:hover {
  border-color: var(--ten-percent-color);
  background-color: var(--ten-percent-color);
  box-shadow: var(--shadow);
}
button:focus,
button:focus-visible {
  background-color: var(--ten-percent-color);
}

p {
  margin: 0;
}

label {
  font-size: calc(var(--main-font) - .3rem);
  align-self: flex-start;
}

input::placeholder, textarea::placeholder {
  color: var(--font-color);
  padding: 0rem .5rem 0 .5rem;
}

input, textarea {
  display: flex;
  background-color: var(--background-color-block);
  border: 1px solid var(--font-color);
  border-radius: .2rem;
}

input:focus, textarea:focus {
  border: 1px solid var(--ten-percent-color);
}

.footer {
  display: flex;
  position: sticky;
  bottom: 0;
  left: 0;
  min-width: 90vw;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--main-font) - 7px);
  text-align: center;
  padding: .5rem;
  background-image: var(--userbar-gradient);
  box-shadow: var(--shadow-inner);
}

.footer p {
  display: flex;
  align-items: center;
}

.footer a {
  color: var(--font-color);
  margin: .2rem;
}

.github-logo {
  height: 1rem;
  transition: all .3s;
}
.github-logo:hover {
  transform: rotate(360deg);
}

.userBarHidden {
  visibility: hidden;
}

.userBarActive {
  visibility: visible;
}

.linksHidden {
  margin-top: 0;
}

.linksActive {
  margin-top: 5rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media screen and (max-width: 600px) {
  .linksActive {
    margin-top: 7rem;
  }
}

